/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.error {
  color: red;
  text-align: left;
}
.single-prd-item img {
  width: 100%;
}
button.primary-btn:disabled {
  background: #b5b5b5;
  border: #b5b5b5;
  cursor: not-allowed;
  animation: none;
}
.active {
  color: #ffc107 !important;
}
.cart {
  position: relative;
}
.main_menu .badge.badge-warning {
  width: 26px;
  height: 22px;
  position: absolute;
  top: 0;
  border-radius: 18px;
  line-height: 19px !important;
  display: flex;
  align-content: center;
  top: -23px;
  right: -9px;
  justify-content: center;
  font-weight: bold !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
