.product-filter-bar {
  color: black;
}

.product-filter-bar ul li {
  padding: 0 19px 0 0px;
  cursor: pointer;
}
.product-filter-bar ul li b {
  color: black;
}
.product-filter-bar ul {
  display: flex;
}
.product-filter-bar ul a {
  color: black !important;
}
.product-filter-bar ul a.active.active {
  color: #ffc107 !important;
}
